:root {

  //////////////////////////////////////////////////
  // shadow
  //////////////////////////////////////////////////

  --box-shadow: 0 0 5px 1px rgb(221 221 221);

  //////////////////////////////////////////////////
  // fonts
  //////////////////////////////////////////////////

  --font-family-title: "Anek-Kannada";
  --font-family-primary: "Anek-Kannada";

  //////////////////////////////////////////////////
  // border
  //////////////////////////////////////////////////

  --border-block: 1px solid var(--border-color);
  --border-radius: 10px;
  --border-radius-small: 5px;
  --main-border-bottom: 5px solid var(--main-color);
  --padding-form: 0.5rem 0.7rem;

  //////////////////////////////////////////////////
  // other
  //////////////////////////////////////////////////
  //padding
  --p-1: 0.25rem;
  --p-2: 0.5rem;
  --p-3: 1rem;

  //margin
  --m-1: 0.25rem;
  --m-2: 0.5rem;
  --m-3: 1.5rem;
  --m-4: 2rem;
  --m-5: 2.5rem;
}
